/* COLOR REFERENCE */
/*
light black -    rgb(40,40,40)
yellow -         rgb(255,255,153)
dark dark blue - rgb(25,50,108)
dark blue -      rgb(43,77,158)
light blue -     rgb(218,228,251)
gray -           rgb(150,150,150)
light gray -     rgb(200,200,200) 
*/

@import url(https://fonts.googleapis.com/css?family=Sintony:400,700);

/* accessibility styling */
:focus, :active, :hover {
	outline: 0 !important;
}

/* basics */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6, 
.navbar-mrl, thead, *[class^='btn-mrl'], .btn, form label {
	font-family: 'Sintony', sans-serif;
}
h1 {
	margin-top: 0;
}

/* utility classes */
.margin-0 {
	margin: 0 !important;
}
.margin-xs {
	margin: 2px !important;
}
.margin-sm {
	margin: 4px !important;
}
.margin-md {
	margin: 6px !important;
}
.margin-lg {
	margin: 8px !important;
}
.margin-xl {
	margin: 10px !important;
}
.padding-0 {
	padding: 0 !important;
}
.padding-xs {
	padding: 2px !important;
}
.padding-sm {
	padding: 4px !important;
}
.padding-md {
	padding: 6px !important;
}
.padding-lg {
	padding: 8px !important;
}
.padding-xl {
	padding: 10px !important;
}

/* ______ marloo theme ______ */

/* buttons */
.btn {
	border-radius: 3px;
	font-weight: 700;
}
.btn.btn-mrl {
	color: rgb(40,40,40);
	border: 1px solid rgb(218,228,251);
}
.btn.btn-mrl-line {

}
.btn.btn-mrl-primary {
	background-color: rgb(218,228,251);
	color: rgb(40,40,40);
	border-color: rgb(150,150,150);
}
.btn.btn-mrl-primary:hover,
.btn.btn-mrl-primary-line {
	color: rgb(0,0,0);
	border-color: rgb(0,0,0);
}
.btn.btn-mrl-success {

}
.btn.btn-mrl-success-line {

}
.btn.btn-mrl-warning {

}
.btn.btn-mrl-warning-line {

}
.btn.btn-mrl-danger {

}
.btn.btn-mrl-danger-line {

}

/* panels */
.panel {
	border-radius: 3px;
}
.panel > .panel-heading > .panel-title {
	font-size: 1em;
	padding: .5em 0;
}
.panel.panel-mrl-dark {
	border-color: rgb(40,40,40);
}
.panel.panel-mrl-dark > .panel-heading {
	background-color: rgb(225,225,225);
	border: none;
}
.panel.panel-mrl-dark > .panel-heading > .panel-title {
	color: rgb(40,40,40);
}

/* pills */
ul.nav-pills.nav-justified li {
	padding: 0 .5em;
}
ul.nav-pills.nav-justified li a {
	border-radius: 0;
}
ul.nav-pills.nav-justified li a i {
	display: block;
	font-size: 22px;
	line-height: 30px;
}

/* sidebars */
.sidebar.sidebar-mrl {
	background-color: rgb(240,240,240);
}

/* forms */
form label {
	color: rgb(40,40,40);
}

/* login */
#login-page {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(40,40,40);
}
#login-logo {
	margin-top: 16%;
}
#login-logo img {
	max-height: 42px;
	max-width: 75%;
}
#login-panel {
	margin-top: 8%;
}

/* navbar */
.navbar.navbar-mrl {
	background-color: rgb(40,40,40);
	z-index: 100;
	box-shadow: 0 4px 12px 1px rgba(0,0,0,.25);
}
.navbar.navbar-mrl,
.navbar.navbar-mrl .container-fluid,
.navbar.navbar-mrl .navbar-header,
.navbar.navbar-mrl .navbar-brand,
.navbar.navbar-mrl ul.nav > li > a {
	height: 42px;
	line-height: 42px;
	min-height: 0;
}
.navbar.navbar-mrl .navbar-brand {
	color: rgb(218,228,251);
	padding: 0 .5em;
	line-height: 42px;
	vertical-align: middle;
	padding-right: 1.5em;
}
.navbar.navbar-mrl .navbar-brand span {
	color: rgb(150,150,150);
}
.navbar.navbar-mrl .navbar-brand img {
	display: inline-block;
	height: 20px;
	margin-left: 4px;
}
.navbar.navbar-mrl ul.nav > li > a {
	color: rgb(255,255,255);
	background-color: rgb(65,65,65);
	font-size: .9em;
	padding: 0 1em;
	vertical-align: middle;
	margin-left: 2px;
}
.navbar.navbar-mrl ul.nav > li > a:hover,
.navbar.navbar-mrl ul.nav > li > a:active,
.navbar.navbar-mrl ul.nav > li > a:focus,
.navbar.navbar-mrl ul.nav > li.open > a {
	background-color: rgb(25,50,108);
}
.navbar.navbar-mrl ul.nav > li > a > i,
.navbar.navbar-mrl ul.nav > li > a > span.caret {
	color: rgb(200,200,200);
}
.navbar.navbar-mrl ul.dropdown-menu > li > a > i,
.navbar.navbar-mrl ul.dropdown-menu > li > a > span.caret {
	color: rgb(25,50,108);
}
.navbar.navbar-mrl ul.dropdown-menu > li > a:focus,
.navbar.navbar-mrl ul.dropdown-menu > li > a:hover {
	background-color: rgb(218,228,251);
}
.navbar.navbar-mrl a > i {
	display: inline-block;
	vertical-align: top:;
	height: 22px;
	text-align: left;
	margin-right: .25em;
}
.navbar.navbar-mrl a i.fa {
}

/* left sidebar site tree */
.side-tree {
	background-color: rgb(25,50,108);
	padding: 20px 0;
	min-height: 100%;
	margin-top: -20px;
	position: absolute;
}
@media only screen and (max-width: 786px) {
	.side-tree {
		position: relative;
	}
}
.side-tree * {
	border-radius: 0 !important;
}
.side-tree .panel-group .panel.panel-left-mrl {
	border: 0;
}
.panel-group .panel.panel-left-mrl .panel-heading,
.panel-group .panel.panel-left-mrl .panel-footer {
	background-color: rgb(43,77,158);
	color: rgb(218,228,251);
	text-transform: uppercase;
	padding: .5em .75em;
}
.panel-group .panel.panel-left-mrl .panel-title {
	font-size: .8em;
	padding: 0;
}
.side-tree ul.list-group {
	margin-bottom: 0;
}

/* site tree nodes */
#site-tree ul > li.node-site-tree {
	background-color: rgb(218,228,251);
	border: none;
	border-bottom: 1px solid rgb(43,77,158);
}


/* user manager */
#userman-nav-panel .btn-group-vertical {
	display: block;
}
#userman-nav-panel .btn-group-vertical .btn {
	text-align: left;
}
#userman-nav-panel .btn-group-vertical .btn i {
	display: inline-block;
	width: 28px;
	font-size: .9em;
}