/* COLOR REFERENCE */
/*
yellow -         rgb(255,255,153)
dark dark blue - rgb(25,50,108)
dark blue -      rgb(43,77,158)
light blue -     rgb(218,228,251)
gray -           rgb(150,150,150)
light gray -     rgb(200,200,200) 
*/


/* accessibility styling */
:focus, :active, :hover {
	outline: 0 !important;
}

/* basics */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
h1 {
	margin-top: 0;
}

/* utility classes */
.margin-0 {
	margin: 0 !important;
}
.margin-xs {
	margin: 2px !important;
}
.margin-sm {
	margin: 4px !important;
}
.margin-md {
	margin: 6px !important;
}
.margin-lg {
	margin: 8px !important;
}
.margin-xl {
	margin: 10px !important;
}
.padding-0 {
	padding: 0 !important;
}
.padding-xs {
	padding: 2px !important;
}
.padding-sm {
	padding: 4px !important;
}
.padding-md {
	padding: 6px !important;
}
.padding-lg {
	padding: 8px !important;
}
.padding-xl {
	padding: 10px !important;
}

/* marloo theme */

/* login */
#login-logo {
	margin-top: 16%;
}
#login-panel {
	margin-top: 8%;
}

/* navbar */
.navbar.navbar-marloo {
	background-color: rgb(0,0,0);
}
.navbar.navbar-marloo .navbar-brand {
	font-size: 1.4em;
	color: rgb(218,228,251);
}
.navbar.navbar-marloo .navbar-brand span {
	color: rgb(150,150,150);
}
.navbar.navbar-marloo ul.nav > li > a {
	color: rgb(200,200,200);
	font-size: 1em;
	height: 50px;
}
.navbar.navbar-marloo ul.nav > li > a:hover,
.navbar.navbar-marloo ul.nav > li > a:active,
.navbar.navbar-marloo ul.nav > li > a:focus,
.navbar.navbar-marloo ul.nav > li.open > a {
	background-color: rgb(25,50,108);
}
.navbar.navbar-marloo ul.nav > li > a > i,
.navbar.navbar-marloo ul.nav > li > a > span.caret {
	color: rgb(218,228,251);
}
.navbar.navbar-marloo ul.dropdown-menu > li > a > i,
.navbar.navbar-marloo ul.dropdown-menu > li > a > span.caret {
	color: rgb(25,50,108);
}
.navbar.navbar-marloo ul.dropdown-menu > li > a:focus,
.navbar.navbar-marloo ul.dropdown-menu > li > a:hover {
	background-color: rgb(255,255,153);
}
.navbar.navbar-marloo a i {
	font-size: 16px;
	display: inline-block;
	height: 22px;
	width: 18px;
	text-align: center;
}
.navbar.navbar-marloo a i.fa {
}

/* left sidebar site tree */
.side-tree {
	background-color: rgb(25,50,108);
	padding: 20px 0;
	min-height: 100%;
	margin-top: -20px;
	position: absolute;
}
@media only screen and (max-width: 786px) {
	.side-tree {
		position: relative;
	}
}
.side-tree * {
	border-radius: 0 !important;
}
.side-tree .panel-group .panel.panel-left-marloo {
	border: 0;
}
.panel-group .panel.panel-left-marloo .panel-heading,
.panel-group .panel.panel-left-marloo .panel-footer {
	background-color: rgb(43,77,158);
	color: rgb(218,228,251);
	text-transform: uppercase;
}
.panel-group .panel.panel-left-marloo .panel-title {
	font-size: .85em;
}
.side-tree ul.list-group {
	margin-bottom: 0;
}

/* user manager */
#userman-nav-panel .btn-group-vertical {
	display: block;
}
#userman-nav-panel .btn-group-vertical .btn {
	text-align: left;
}
#userman-nav-panel .btn-group-vertical .btn i {
	display: inline-block;
	width: 28px;
	font-size: .9em;
}