html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
}

.hidden {
    display: none !important;
}

#adminInterface {
    height: 100%;
}
#adminHeader, #headerRight, #headerLeft {
	height: 50px;
}
#headerLeft span#marloo {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
    margin-right: 1em;
}
#headerRight {
	width: 350px;
	text-align: right;
}
#headerRight span#userInfo {
    margin-right: 1em;
}
#adminLeft {
    width: 200px;
}

/* news admin only */
#articleDetails > div:first-child, #authorDetails > div:first-child, #articleSettings > div:first-child {
    width: 200px;
    vertical-align: middle;
    font-weight: 900;
    background-color: rgb(235,235,235);
}
#articleDetails {
    height: 650px;
}
#authorDetails {
    height: 200px;
}
#articleSettings {
    height: 250px;
}
#articleTitle {
    width: 500px !important;
    font-size: 1.5em;
}

.claro #adminInterface .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

/* ICON CLASSES */
.ccMonoIconHome {
    background-image: url('../icons/cc/selected/home_icon&16.png');
}
.ccMonoIconBrowse {
    background-image: url('../icons/cc/selected/globe_3_icon&16.png');
}
.ccMonoIconSearch {
    background-image: url('../icons/cc/selected/zoom_icon&16.png');
}
.ccMonoIconManagement {
    background-image: url('../icons/cc/selected/cogs_icon&16.png');
}
.ccMonoIconAdd {
    background-image: url('../icons/cc/selected/round_plus_icon&16.png');
}
.ccMonoIconLogOut {
    background-image: url('../icons/cc/selected/on-off_icon&16.png');
}
.ccMonoIconSave {
    background-image: url('../icons/cc/selected/save_icon&16.png');
}
.ccMonoIconDuplicate {
    background-image: url('../icons/cc/selected/clipboard_copy_icon&16.png');
}
.ccMonoIconDelete {
    background-image: url('../icons/cc/selected/doc_delete_icon&16.png');
}
.ccMonoIconAdd.Sub.Page {
    background-image: url('../icons/cc/selected/doc_plus_icon&16.png');
}
.ccMonoIconFiles {
    background-image: url('../icons/cc/selected/clip_icon&16.png');
}
.ccMonoIconSubmit.for.Approval {
    background-image: url('../icons/cc/selected/paper_airplane_icon&16.png');
}
.ccMonoIconCancel.Submission {
    background-image: url('../icons/cc/selected/cancel_icon&16.png');
}
.ccMonoIconApprove {
    background-image: url('../icons/cc/selected/checkmark_icon&16.png');
}
.ccMonoIconEdits.Needed {
    background-image: url('../icons/cc/selected/pencil_icon&16.png');
}
@media and (max-width: 1200px) {

}