<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="PassThrough" />
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <add value="default.cfm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <rule name="LowerCaseRule1" enabled="true" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="Rewrite rule1 for StaticRewrites" enabled="true" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="AddTrailingSlashRule1" enabled="true" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" enabled="true" stopProcessing="true">
                    <match url="^(([^/]*)/)+$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="handler.cfm?rewriteitem={R:0}" />
                </rule>
            </rules>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rewriteMaps>
                <rewriteMap name="StaticRewrites">
                    <add key="/sitemap.xml" value="/map.cfc?method=getSitemapXML" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        <urlCompression doDynamicCompression="false" />
    </system.webServer>
</configuration>