<div class='col-md-9' ng-controller="UsersCtrl as users">
	<div class='row'>
		<div class='col-md-8'>
			<h1>Users</h1>
		</div> <!-- /8 -->
		<div class='col-md-4 text-right'>
			<cfoutput><a href="#event.buildLink(linkTo: 'marlooauth:userman.edituser')#" class='btn btn-mrl-primary'><i class='typcn typcn-user-add-outline'></i> Add a User</a></cfoutput>
		</div> <!-- /4 -->
	</div> <!-- /row -->
	<div class='row'>
		<div class='col-md-6'>
			<div class='panel panel-mrl-card'>
				<div class='panel-body p-0'>
					<p class='text-danger'>Clicked on {{users.message}}.</p>
					<table datatable='' class='table table-striped datatable row-border hover' dt-options='users.dtOptions' dt-columns='users.dtColumns'></table>
				</div> <!-- /panel-body -->
			</div> <!--/panel-card -->
		</div> <!-- /6 -->
		<div class='col-md-6'>
			<div id='edit-user' class='panel panel-mrl-card' data-user ng-show="showUser">
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<div class='panel panel-mrl-card'>
						<div class='panel-body'>
							<span class='big'>31</span>
							users total
						</div> <!-- /panel-body -->
					</div> <!-- /panel-card -->
				</div> <!-- /6 -->
				<div class='col-sm-6'>
					<div class='panel panel-mrl-card'>
						<div class='panel-body'>
							<span class='big'>4</span>
							logged in
						</div> <!-- /panel-body -->
					</div> <!-- /panel-card -->
				</div> <!-- /6 -->
			</div> <!-- /row -->
		</div> <!-- /6 -->
	</div> <!-- /row -->

	<cffunction name="isActive">
		<cfargument name="active" required="true">

		<cfif ucase(trim(arguments.active)) EQ 'T'>
			<cfreturn 'Active'>
		</cfif>

		<cfreturn 'Inactive'>		
	</cffunction>
</div>